.Navigation button{
    font-size: 20px;
    padding: 0 10px;
    font-family: 'Oswald', sans-serif;  
    border: none;
    margin-right: 5px;
    padding-right: 10px;   
    width: 20%; 
}

button p:hover{
    color: #ED1B2A;
    
}